.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  height: 100vh;
  width: 100vw;
  font-family: Poppins, sans-serif;
  font-size: larger;
}

.board-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.board-container {
  margin: 20px;
  width: 400px;
}

.refreshButton {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.winnerPage {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.winnerPage ul {
  list-style-type: none;
}

.winnerPage ul li {
  padding: 10px;
}

button {
  box-sizing: border-box;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  background-color: darkgoldenrod;
  font-family: Poppins;
  font-weight: 500;
}

@media only screen and (max-width: 500px) {
  .App {
    overflow: hidden;
    font-size: medium;
    align-items: baseline;
    color: black;
  }

  .board-container {
    width: 350px;
    height: 350px;
  }

  .winnerPage {
    justify-content: left;
    margin-left: 30px;
  }
}
